
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #2365f1;
}

.carousel-control {
    background-color: none;
    color: black;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.carousel{
    background: white;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.bs-example{
	margin: 20px;
}

.image{
	margin: 0 auto;
}

.name{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
  color: #4f0783
}

h1{
	text-align: center;
	font-size: 50px;
	letter-spacing: 20px;
  background-color: #8c4bff;
}

p{
  text-align: center;
  color: green;
}

small {
  font-weight: bold;
  font-style: italic;
}

.panel-heading {
  text-shadow: 0px 1px 1px #000;
  text-align: center;
  font-size: 20px;
}
.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
#submitButton {
  text-align: center;
}
#orderForm div {
  margin-top: 12px;
}
.text-success {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}
.renterName, .catType small, .catGender small{
  color: #f6b188;
  text-shadow: 0px 1px 1px #000;
  font-style: italic;
  letter-spacing: 5px;
}
#paws {
  margin-left:15px;
}
div#orderForm{
  margin-top: 2%;
}
html,body{
    height: 100%
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
