<div class="container">
<div class="row">
<div class="col-xl-12" >

<div class="jumbotron">
    <h1>Donut Socks</h1>
    <p>Insert really bad pun about here</p>
</div>

</div>

 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
           <img src="images/11.jpg" width="960" height="640" alt=""/>
        </div>
        <div class="item">
           <img src="images/22.jpg" width="960" height="640" alt=""/>
        </div>
        <div class="item">
            <img src="images/33.jpg" width="960" height="640" alt=""/>
        </div>

        <div class="item">
          <img src="images/44.jpg" width="960" height="640" alt=""/>
           </div>

        <div class="item">
          <img src="images/55.jpg" width="960" height="640" alt=""/>
           </div>

        <div class="item">
          <img src="images/66.jpg" width="960" height="640" alt=""/>
           </div>

    </div>
    <!-- Carousel controls -->
 	<a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
   <a class="carousel-control right" href="#myCarousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


</div>
</div>
